body{
    background-color: rgba(8, 9, 10, 0.1);
    min-height: 100vh;
}
a{
    color: black;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    /*color: rgb(67, 33, 204);*/
    color: inherit;
  }
  
  a:active {
    text-decoration: none;
  }a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.title-link:hover{
  color: rgb(67, 33, 204);
}
.deep {
  background-color:#d1d8de;
  display: flex;
  margin-left: -80px;
  margin-right: -75px;
  min-height: 250px;
}

.deep li{
  margin-top: 25px;
}
.deep li:hover{
  color: blue;
}
.deep i{
  font-size: 24px;
  margin-right: 20px;
}

/* RESPONSIVE */
/*midian*/
@media screen and (max-width: 992px) {
  #right-pan{
    display: none;
  }
}
/*small*/
@media screen and (max-width: 760px){
  #left-pan{
    display: none;
  }
}
